.contactFaces {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
  justify-items: center;
}

.contactFace {
  display: grid;
  max-width: 300px;
  grid-template-rows: 150px 1fr 1fr 1fr;
}

@media (max-width: 500px) {
  .contactFaces {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
